* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #050505;
    color: #e8e8e8;
    font-family: Georgia, "Times New Roman", serif;
}

/* =========================
   PÁGINA INICIAL
========================= */

.tela-inicial {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.95)
        ),
        radial-gradient(
            circle at center,
            #263326 0%,
            #0b0f0b 45%,
            #000000 100%
        );
}

.capa {
    width: 100%;
    max-width: 700px;
    text-align: center;
    padding: 50px 30px;

    background: rgba(5, 5, 5, 0.85);
    border: 1px solid #333;
    border-radius: 8px;

    box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);

    animation: aparecer 1.5s ease;
}

.subtitulo {
    color: #888;
    font-size: 0.8rem;
    letter-spacing: 5px;
    margin-bottom: 25px;
}

h1 {
    font-size: clamp(2.3rem, 8vw, 4.5rem);
    color: #e5e5e5;
    letter-spacing: 3px;
    margin-bottom: 30px;

    text-shadow: 0 0 15px rgba(255, 255, 255, 0.15);
}

.descricao {
    max-width: 550px;
    margin: 0 auto 40px;

    color: #aaa;
    font-size: 1.1rem;
    line-height: 1.8;
}

/* =========================
   PÁGINAS DA HISTÓRIA
========================= */

.pagina {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;

    background:
        radial-gradient(
            circle at center,
            #182018 0%,
            #080a08 50%,
            #000000 100%
        );
}

.historia {
    width: 100%;
    max-width: 800px;

    padding: 45px 35px;

    background: rgba(5, 5, 5, 0.92);

    border: 1px solid #292929;
    border-radius: 8px;

    box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);

    animation: aparecer 1s ease;
}

.capitulo {
    text-align: center;

    color: #777;

    font-size: 0.8rem;
    letter-spacing: 4px;

    margin-bottom: 15px;
}

.historia h1 {
    text-align: center